name = SoftHSM
library = /usr/lib/softhsm/libsofthsm2.so
slotListIndex = 0

# Damit KeyAgreement.generateSecret() byte[] zurueckliefert, muss SunPKCS11
# CKA_VALUE der abgeleiteten Generic-Secret-Keys lesen koennen. SunPKCS11
# setzt im Derive-Template per Default CKA_SENSITIVE=true und scheitert
# dann mit CKR_ATTRIBUTE_SENSITIVE. Mit dieser Override-Sektion wird das
# Template fuer C_DeriveKey angepasst.
attributes(generate, CKO_SECRET_KEY, CKK_GENERIC_SECRET) = {
  CKA_SENSITIVE = false
  CKA_EXTRACTABLE = true
}
